#home{overflow-x:hidden}.movie-name{width:min(40rem,90vw);height:auto}.movie-inspiration{font-size:var(--fs-h3);margin:.5rem}.hero-video__bg{filter:blur(2px);-webkit-filter:blur(2px);object-fit:cover}
